
html, body {
	height: 100%;
}

.global-header {
	height: 60px;
	display: flex;
	align-items: center;
}

.sidebar {
	width: 210px;
	background-color: $dark-1;
	display: block;
}

.layout {
	display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: calc(100% - 60px);
}

.main-content {
	flex: 1;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    padding: 0 0 36px 0;
    background-color: $dark-11;
}

.page-header {
	padding: 20px;
}


// Tables and stuff 

.border-left {
	border-left:1px solid #D8D8D8;
}

//PUI old FIXES
th {
	border-top:0 !important;
}