--- title: BAM! ---
<div>
    <div class="main-content-header">
        <h1>Welcome to BAM!</h1>
        <p>Space</p>
        <!-- add data folder later to feed in names of spaces-->
        <div class="dropdown btn-group">
            <button id="dropdown-button-2" class="dropdown-toggle btn-default-alt" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> dropdown trigger <span class="caret"></span> </button>
            <div class="dropdown-menu">
                <ul role="menu" aria-labelledby="dropdown-button-2">
                    <li role="presentation">
                        <a href="#" role="menuitem" class="pvl">
                            <div class="media">
                                <div class="media-left media-middle prxl"> <img src="/styleguide/check.svg" class="prxl" /> </div>
                                <div class="media-body" style="width: 400px;">
                                    <h4 class="media-heading em-high type-neutral-3 mvn h5">updates and alerts</h4> <span class="type-neutral-4">receive all tacos and burritos.</span> </div>
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" role="menuitem" class="pvl">
                            <div class="media">
                                <div class="media-left media-middle prxl"> <img src="/styleguide/check.svg" class="prxl" style="visibility: hidden" /> </div>
                                <div class="media-body" style="width: 400px;">
                                    <h4 class="media-heading em-high type-neutral-3 mvn h5">alerts only</h4> <span class="type-neutral-4">only receive tacos when burritos are issued for this product and files.</span> </div>
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" role="menuitem" class="pvl">
                            <div class="media">
                                <div class="media-left media-middle prxl"> <img src="/styleguide/check.svg" class="prxl" style="visibility: hidden" /> </div>
                                <div class="media-body" style="width: 400px;">
                                    <h4 class="media-heading em-high type-neutral-3 mvn h5">none</h4> <span class="type-neutral-4">do not receive any mexican food.</span> </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Insert table -->
        <div class="panel panel-basic bg-neutral-11 mal">
            <div class="panel-header">
                <div class="panel-title-alt">Basic Title</div>
            </div>
            <div class="panel-body paxl">
                <table class="table tr-no-h-borders txt-r">
                    <tbody>
                        <tr class="table-no-ext-borders">
                            <th>
                                App Instances
                            </th>
                            <th>
                            	<div style="float: left;">
                            		X
                            	</div>
                                Memory (GB)
                            </th>
                            <th>
                                Total Duration (Hr)
                            </th>
                            <th>
                                Charge Rate ($/GB-Hr)
                            </th>
                            <th class="txt-r">
                                Cost ($)
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Cell 1
                            </td>
                            <td>
                                Cell 2
                            </td>
                            <td>
                                Cell 3
                            </td>
                            <td>
                                Cell 3
                            </td>
                            <td class="border-left">
                                Cell 3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell 1
                            </td>
                            <td>
                                Cell 2
                            </td>
                            <td>
                                Cell 3
                            </td>
                            <td>
                                Cell 3
                            </td>
                            <td class="border-left">
                                Cell 3
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
